@model Unique.Models.Product

@{
    Layout = "_Layout";


    

}





<style>

    .form-control {
        text-transform: lowercase;
    }

</style>

<div class="main">
    <section class="module bg-dark-30" data-background="assets/images/section-4.jpg" style="background-color:gray;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                </div>
            </div>
        </div>

    </section>

    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 mb-sm-40">

                    <div class="col-sm-10">
                        <h4 class="font-alt">상품 등록</h4>
                        <hr class="divider-w mb-10">
                        <form class="form-horizontal" method="post" asp-controller="Product" asp-action="Register" 
                        enctype="multipart/form-data">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="productName" placeholder="상품 이름" />
                                <span class="text-danger" asp-validation-for="productName"></span>
                             
                            </div>

                             <div class="form-group">
                                <input type="text" class="form-control" asp-for="productPrice" placeholder="상품 가격" />
                                <span class="text-danger" asp-validation-for="productPrice"></span>

                            </div>

                             <div class="form-group">
                                <input type="text" class="form-control" asp-for="productContent" placeholder="상품 내용" />
                                <span class="text-danger" asp-validation-for="productContent"></span>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" asp-for="productBrand" placeholder="브랜드 이름" />
                                <span class="text-danger" asp-validation-for="productBrand"></span>

                            </div>

                        
                            <div class="form-group"  style="text-align: left; background-size:10px;">
                                <h6>카테고리 설정</h6>
                                <select id="categoryParent">
                                    <option value="선택" selected="selected">선택</option>
                                    <option value="아우터">아우터</option>
                                    <option value="니트">니트</option>
                                    <option value="셔츠">셔츠</option>
                                    <option value="바지">바지</option>
                                    <option value="양말">양말</option>
                                    <option value="가방">가방</option>
                                    <option value="액세서리">액세서리</option>
                           

                                </select>

                                <br></br>


                                <select id="subCategory" asp-for="productCategoryName">

                                    <option value="선택" selected="selected" id="accommodationCityOption">선택</option>



                                </select>
                           


                            </div>

                             <div class="form-group">
                                <input type="hidden" class="form-control" id="categoryId" asp-for="categoryId" placeholder="카테고리 설정"  />
                                <span class="text-danger" asp-validation-for="categoryId"></span>

                            </div>

                              <div class="form-group">
                                <input type="file" class="form-control" name="file" id="file" placeholder="파일 설정"
         />
                              

                            </div>

                       
                         


                            <div class="form-group">
                                <button class="btn btn-block btn-round btn-b" id="register">상품 등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>

    @section scripts {

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <script>

            $("input[name=file_size").on("change", function () {
                let maxSize = 4 * 1024 * 1024; //* 4MB 사이즈 제한
                let fileSize = this.files[0].size; //업로드한 파일용량

                if (fileSize > maxSize) {
                    alert("파일첨부 사이즈는 5MB 이내로 가능합니다.");
                    $(this).val(''); //업로드한 파일 제거
                    return;
                }
            });
        

            $('#categoryParent').change(function () {
              

                $.ajax({

                    type: 'POST',
                    url: '/Product/CategoryCheck',
                    data: 'categoryName=' + $('#categoryParent').val(),
                    dataType: 'json',

                    success: function (SubCategoryList) {

                        if (SubCategoryList != null) {

                            $('#subCategory').empty();
                            for (var i = 0; i < SubCategoryList.length; i++) {
                                var subCategoryDTO = SubCategoryList[i]


                                var option = $('<option value="' + subCategoryDTO.subCategoryName + '">' + subCategoryDTO.subCategoryName + '</option>')

                                $('#categoryId').val(subCategoryDTO.categoryId)

                                $('#subCategory').append(option)
                             

                            }

                            $('#subCategory').niceSelect('update')
                       


                        }

                        else {

             
                        }

                    },
                    error: function (a, b, c) {
                        console.log(a, b, c);
                    }

                });
            
            })


            $('#register').click(function () {

                if ($('#file').val() == '') {
                    alert('이미지 파일을 선택하세요!');
                    return false;
                }

                return true;
            });


        </script>

    }





